*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
text-align: center;
font-size: 80px;
padding: 20px;
padding-top: 90px;
}

h2{
    text-align: left;
    margin-top: 100px;

}
/* menu iniziale nell'header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    height: 70px;
}

#logo{
    font-size: 20px;
}

ul.menu {
    font-size: 15px;
    list-style: none;
}
ul.menu li {
    
    display: block;
    margin: 2px;
    float: left;
    padding: 20px;
}
ul.menu li .a-menu {
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
}

ul.menu li:hover {
    border-bottom: 2px solid black;
}

#goto{
    background-color: rgb(69, 121, 213);
    color: white;
}
/* prima sezione forse conviene mettere il testo in float e l'immagine in absolute prova */
.big-container{
    background-color: rgb(145,205,255);
    padding: 40px;
    height: 670px;

}

.small-container{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}
    

.start{
    width: 80%;
    margin: 0 auto;
    height: 250px;
}

.flex-container{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-between{
    justify-content: space-between;
}

.small{
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-grow: 1;
}

.content{
    margin-top: 30px;
}

.large{
    flex-grow: 2;
}


.jumbo{
    height: 400px;
}

.partner{
    height: 400px;
}

.card-img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.w-3{
    width: calc(100%/ 3 - 10px - 10px);
}

.w-100{
    width: 100%;
}

.vertical-box{
    border: 2px solid grey;
    height: 600px;
    padding: 20px;
    margin: 10px;
}

.horizontal-box{
    border: 2px solid grey;
    height: 200px;
    width: 100%;
    padding: 20px;
    margin: 10px;
}





