*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
text-align: center;
font-size: 80px;
padding: 20px;
padding-top: 90px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: white;
    height: 70px;
}

#logo{
    font-size: 20px;
}

ul.menu {
    font-size: 15px;
    list-style: none;
}
ul.menu li {
    
    display: block;
    margin: 2px;
    float: left;
    padding: 20px;
}
ul.menu li a {
    color: black;
    display: block;
    text-decoration: none;
    text-align: center;
}

ul.menu li:hover {
    border-bottom: 2px solid black;
}

#goto{
    background-color: rgb(69, 121, 213);
    color: white;
}

.big-container{
    background-color: aquamarine;
    padding: 40px;

}
    

.start{
    width: 70%;
    margin: 0 auto;
}

.flex-item{

    display: flex;
}

.small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.large{
    flex-grow: 2;
}


img{
    height: 300px;
}